doctype 5
html(ng-app='InsiktenView')
	head
		title= title
		link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content
	block scripts
		script(src='/jquery/jquery.min.js')
		script(src='/angular/angular.js', type='text/javascript')
		script(src='/angular-bootstrap/ui-bootstrap.min.js', type='text/javascript')
		script(src='/javascripts/Main.js')
	block additionalScripts